body {
    margin: 0;
    font-family: "Inter", sans-serif;
    background: #0f172a;
    color: white;
}

/* HEADER */
.gallery-header {
    background: #1e293b;
    padding: 16px 24px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #334155;
}

.header-buttons button {
    background: #334155;
    border: none;
    padding: 10px 16px;
    border-radius: 6px;
    color: white;
    cursor: pointer;
    margin-left: 10px;
    font-weight: 600;
}

.logout-btn {
    background: #ef4444;
}

/* ALBUM LIST GRID */
.album-grid {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    gap: 20px;
}

.album-card {
    background: #1e293b;
    padding: 16px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid #334155;
    transition: 0.2s;
}

.album-card:hover {
    background: #334155;
}

.album-card h3 {
    margin: 0 0 6px 0;
    font-size: 18px;
}

.album-card p {
    margin: 0;
    opacity: 0.75;
}

/* CREATE ALBUM BUTTON */
.create-album-btn {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: #3b82f6;
    padding: 14px 20px;
    border-radius: 8px;
    border: none;
    font-weight: 700;
    cursor: pointer;
}

/* MODAL */
.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden {
    display: none;
}

.modal-content {
    background: #1e293b;
    padding: 24px;
    border-radius: 10px;
    width: 320px;
    box-shadow: 0 0 20px rgba(0,0,0,0.4);
}

.modal-content h2 {
    margin-top: 0;
}

.modal-content input {
    width: 100%;
    padding: 10px;
    margin-top: 12px;
    border-radius: 6px;
    border: none;
}

.modal-actions {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.cancel-btn {
    background: #475569;
}
.create-btn {
    background: #3b82f6;
}

.modal-actions button {
    flex: 1;
    margin: 0 4px;
    padding: 10px;
    border: none;
    border-radius: 6px;
    color: white;
    font-weight: 600;
    cursor: pointer;
}